# Byte-compiled / optimized / DLL files
__pycache__/

# Data
data/random.csv

# Distribution
dist/

# Testing
.pytest_cache/

# Environment
.venv/

# IDE files
.idea/
.DS_Store

# Reports
.coverage
reports/coverage.xml
reports/tests.xml
