default_language_version:
  python: python3.11
fail_fast: true
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
    -   id: black
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.1
    hooks:
      - id: poetry-check
      - id: poetry-lock
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: Run pytest via coverage to ensure tests pass, and .coverage and tests.xml were created in reports/.
        entry: coverage run --data-file reports/.coverage -m pytest --junitxml=reports/tests.xml
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - pytest
          - coverage
      - id: coverage
        name: coverage
        description: Run coverage to ensure test coverage is 100% and coverage.xml was created in reports/.
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - pytest
          - coverage
        entry: coverage xml --data-file reports/.coverage -o reports/coverage.xml --fail-under 100
      - id: genbadge-tests
        name: genbadge tests
        description: Run genbadge tests to generate our tests badge image.
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - genbadge[tests]
        entry: genbadge tests -i reports/tests.xml -o images/badges/tests.svg
      - id: genbadge-coverage
        name: genbadge coverage
        description: Run genbadge coverage to generate our coverage badge image.
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - genbadge[coverage]
        entry: genbadge coverage -i reports/coverage.xml -o images/badges/coverage.svg
