default_language_version:
  python: python3.11
fail_fast: true
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
    -   id: black
  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-export
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: Ensure tests pass.
        entry: coverage run --data-file reports/.coverage -m pytest --junitxml=reports/tests.xml
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - pytest
          - coverage
      - id: coverage
        name: coverage
        description: Ensure test coverage percentage is 100%
        entry: coverage xml --data-file reports/.coverage -o reports/coverage.xml --fail-under 100
        language: python
        pass_filenames: false
        files: random_recipes.*|requirements\.txt|test.*
        additional_dependencies:
          - pytest
          - coverage
